$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

@mixin padding($padding) {	
			padding-left: $padding;
			padding-right: $padding;
  }

body {
  font: 100% $font-stack;
  color: $primary-color;
}

ul { list-style-type: none; }
label{
	background-color: #AAAFAB;
	border-radius: 5px;
	padding: 3px;
	padding-left: 25px;
	color: white;	
}
li { 
	margin: 10px;
	padding: 5px;
	border: 1px solid #ABC;
	border-radius: 5px;
}
input[type=checkbox] { display: none; }
input[type=checkbox] ~ ul { 
	max-height: 0;
	max-width: 0;
	opacity: 0;
	overflow: hidden;
	white-space:nowrap;
   -webkit-transition:all 1s ease;  
   -moz-transition:all 1s ease;  
   -o-transition:all 1s ease;  
   transition:all 1s ease;  
	
}
input[type=checkbox]:checked ~ ul { 
	max-height: 100%;
	max-width: 100%;
	opacity: 1;
}
input[type=checkbox] + label:before{
	transform-origin:25% 50%;
  border: 8px solid transparent;
  border-width: 8px 12px;	
  border-left-color: white;
  margin-left: -20px;
	width: 0;
	height: 0;
	display: inline-block;
	text-align: center;
	content: '';
	color: #AAAFAB;
   -webkit-transition:all .5s ease;  
   -moz-transition:all .5s ease;  
   -o-transition:all .5s ease;  
   transition:all .5s ease; 
	position: absolute;
	margin-top: 1px;
}
input[type=checkbox]:checked + label:before {
	transform: rotate(90deg);
	/*margin-top: 6px;
  margin-left: -25px;*/
}

.container {
	min-height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;	
	width: 100%;
}

.view-panel {
	flex: 1;
	@include padding(10px);
	justify-content: center;	
}

.tree-widget {
	flex: 1;
	@include padding(10px);	
	justify-content: center;	
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

form input[type=text] {
	margin-bottom : 5px;
}